# Tarea 1 Bases de Datos 2023-1 Grupo 23

## Integrantes:
* Carolina Sire -Rol: 202173105-9
* Eva Wang -Rol: 202111004-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [ ]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [49]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:****@localhost:5432/tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1',
   password="****"
)

print(connection)
cursor = connection.cursor()

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [ ]:
%%sql
CREATE TABLE facciones (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    descripcion VARCHAR (45) NOT NULL,
    PRIMARY KEY (id)
);

### Tabla "trabajos" (6 pts)

In [ ]:
%%sql
CREATE TABLE trabajos (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL,
    PRIMARY KEY (id)
);

### Tabla "personas" (6 pts)

In [ ]:
%%sql
CREATE TABLE personas (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas (id)
);

### Tabla "cuentas_bancarias" (6 pts)

In [ ]:
%%sql
CREATE TABLE cuentas_bancarias (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INTEGER NOT NULL,
    id_persona INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id)
);

### Tabla "persona_pertenece_faccion" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_pertenece_faccion (
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY (id_persona, id_faccion),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
);

### Tabla "persona_tiene_trabajo" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_tiene_trabajo (
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona, id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _En primer lugar, se selecciona el identificador, nombre y primer apellido de la persona. Después, se utiliza la tabla personas y se hace un INNER JOIN a la tabla persona_pertenece_faccion con la condición de que el identificador de la persona coincida; luego, se hace un INNER JOIN a la tabla facciones con la condición de que el identificador de la faccion coincida. Luego, se establece como condición que el nombre de la facción perteneciente sea FEDRA. Por último, se ordenan ascendentemente los resultados en base al identificador de las personas._

In [ ]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre", LEFT(personas.apellidos, STRPOS(personas.apellidos, ' ') - 1) "Apellido"
FROM
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
WHERE
    facciones.nombre = 'FEDRA'
ORDER BY
    personas.id ASC;

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Se selecciona el número de filas del identificador desde la tabla personas con la condición de que su fecha de nacimiento sea entre la fecha 01-12-2019 y la fecha actual._

In [ ]:
%%sql
SELECT
    COUNT(id) "Cantidad"
FROM
    personas
WHERE
    personas.fecha_nacimiento BETWEEN '2019-12-01' AND CURRENT_DATE;

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Se selecciona el identificador, nombre, primer apellido y la suma total del saldo de todas las cuentas bancarias de una persona, desde la tabla personas haciendo un INNER JOIN con la tabla cuentas_bancarias donde el identificador de la persona coincida. Luego, se agrupa la tabla en base al identificador de las personas y se limita el número de filas mostradas a 20._

In [ ]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre", LEFT(personas.apellidos, STRPOS(personas.apellidos, ' ') - 1) "Apellido", SUM(cuentas_bancarias.saldo) "Dinero"
FROM 
    personas
    INNER JOIN cuentas_bancarias ON cuentas_bancarias.id_persona = personas.id
GROUP BY
    personas.id
LIMIT
    20;

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Se selecciona el nombre de la facción y la cantidad de personas que pertenecen a la facción. Desde la tabla personas se hace un INNER JOIN con la tabla persona_pertenece_faccion en donde el identificador de persona coincida; luego, se hace otro INNER JOIN con la tabla facciones, en donde el identificador de la facción coincida; finalmente, se hace otro INNER JOIN con la tabla persona_tiene_trabajo en donde el identificador de persona coincida. Se pide que el estado de la persona que tiene trabajo sea verdadero (es decir, actualmente es un trabajador activo) o que la ultima vez que realizó el trabajo sea después de la fecha 01-01-2021 (es decir, durante esa fecha era un trabajador activo). Se agrupan los resultados por el nombre de facción y se ordenan descendentemente según la cantidad de personas._

In [ ]:
%%sql
SELECT
    facciones.nombre "Facción", COUNT(DISTINCT persona_pertenece_faccion.id_persona) "Cantidad de trabajadores"
FROM 
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN persona_tiene_trabajo ON persona_tiene_trabajo.id_persona = personas.id
WHERE
    persona_tiene_trabajo.estado = 'TRUE'
OR
    persona_tiene_trabajo.ultima_vez_realizado > '2021-01-01'
GROUP BY
    facciones.nombre
ORDER BY
    COUNT(DISTINCT persona_pertenece_faccion.id_persona) DESC;

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Se selecciona el nombre de la facción y la cantidad de personas. Desde la tabla personas se hace un INNER JOIN con la tabla persona_pertenece_faccion en donde el identificador de la persona coincida; luego, un INNER JOIN con la tabla facciones en donde el identificador de la facción coincida. Posteriormente, se revisa si la persona está infectada; si lo está, se selecciona. Por último, se agrupa por el nombre de la facción y se ordenan los resultados descendentemente según la cantidad de personas. Nótese que si la facción no tiene infectados no se muestra en la tabla resultante._

In [ ]:
%%sql
SELECT
    facciones.nombre "Facción", COUNT(personas.id) "Personas infectadas"
FROM 
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
WHERE
    infectado = TRUE
GROUP BY
    facciones.nombre
ORDER BY
    COUNT(personas.id) DESC;

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Se selecciona el nombre de la facción y el nombre del trabajo desde la tabla personas realizando diversos INNER JOIN: en primer lugar, con la tabla persona_tiene_trabajo con la condición de que el identificador de la persona coincida; luego, con la tabla trabajos en donde el identificador del trabajo coincida; después, con la tabla persona_pertenece_faccion mientras el identificador de la persona coincida; posteriormente, con la tabla facciones cuando el identificador de la facción coincide; y, finalmente, con la tabla consulta_anidada con las condiciones de que el nombre de la facción y el nombre del trabajo coincida. Cabe destacar que la tabla consulta_anidada es resultante de una consulta anidada en donde se selecciona el nombre de la facción, el nombre del trabajo y el número de la fila (tras particionar por el nombre de la facción y ordenar descendentemente según el número de personas que realizan el trabajo) desde las tablas previamente mencionadas haciendo los mismos INNER JOIN y agrupando los resultados por facción y trabajo. A continuación, se pide que el número de la fila en la tabla consulta_anidada sea igual a 1 (es decir, que sea el trabajo que mayor cantidad de personas realizaron dentro de una facción). Por último, se agrupan los resultados finales por facción y trabajo._

In [ ]:
%%sql
SELECT
    facciones.nombre "Facción", trabajos.nombre "Trabajo"
FROM
    personas
    INNER JOIN persona_tiene_trabajo ON persona_tiene_trabajo.id_persona = personas.id
    INNER JOIN trabajos ON trabajos.id = persona_tiene_trabajo.id_trabajo
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN
        (SELECT
            facciones.nombre facciones_nombre, trabajos.nombre trabajos_nombre, ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(trabajos.nombre) DESC) fila_numero
        FROM
            personas
            INNER JOIN persona_tiene_trabajo ON persona_tiene_trabajo.id_persona = personas.id
            INNER JOIN trabajos ON trabajos.id = persona_tiene_trabajo.id_trabajo
            INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
            INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
        GROUP BY
            facciones.nombre, trabajos.nombre)
    consulta_anidada ON consulta_anidada.facciones_nombre = facciones.nombre AND consulta_anidada.trabajos_nombre = trabajos.nombre
WHERE
    consulta_anidada.fila_numero = 1
GROUP BY
    facciones.nombre, trabajos.nombre;

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Se selecciona el nombre de la facción y la suma de los saldos de todas las personas. Desde la tabla personas se hace un INNER JOIN con la tabla persona_pertenece_facción en donde el identificador de la persona coincida; otro INNER JOIN con la tabla facciones, en donde el identificador de la facción coincida; y un último INNER JOIN con la tabla cuentas_bancarias en donde el identificador de la persona coincida. Finalmente se agrupa por el nombre de las facciones y se ordena descendentemente según la suma de los saldos.._

In [ ]:
%%sql
SELECT
    facciones.nombre "Facción", SUM(cuentas_bancarias.saldo) "Saldo"
FROM 
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN cuentas_bancarias ON cuentas_bancarias.id_persona = personas.id
GROUP BY
    facciones.nombre
ORDER BY
    SUM(cuentas_bancarias.saldo) DESC;

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Se seleccionan los nombres de los bancos, la cantidad de personas con cuentas bancarias y la suma de los saldos de todas las cuentas desde la tabla cuentas bancarias para luego agrupar por los nombres de los bancos. En esta solución se considera cada persona como un usuario; es decir que, si es que existe alguna persona con dos cuentas bancarias en un mismo banco, se contabiliza solamente como un usuario para ambas cuentas._

In [ ]:
%%sql
SELECT
    cuentas_bancarias.banco "Banco", COUNT(DISTINCT cuentas_bancarias.id_persona) "Cantidad", SUM(cuentas_bancarias.saldo) "Saldo"
FROM 
    cuentas_bancarias
GROUP BY
    cuentas_bancarias.banco;

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Se selecciona el nombre de la facción y el banco, desde la tabla personas se hacen varios INNER JOIN: primero, hacia la tabla persona_pertenece_faccion en donde el identificador de la persona coincida; luego, con la tabla facciones mientras el identificador de la facción coincida; después, con la tabla cuentas_bancarias si el identificador de la persona coincida; por último, con la tabla consulta_anidada con las condiciones de que coincida el nombre de la facción y el nombre del banco. Cabe destacar que la tabla consulta_anidada resulta de una consulta anidada en donde se selecciona el nombre de la facción, el nombre del banco y el número de la fila agrupado por facciones y en orden descendente según la cantidad de personas con cuentas bancarias, desde la tabla personas haciendo los mismos INNER JOIN previamente mencionados y agrupando según el nombre de la facción y el nombre del banco. Por último, se establece la condición de que el número de la fila en la tabla consulta_anidada sea 1 y se agrupan los resultados finales según el nombre de la facción y el nombre del banco._

In [ ]:
%%sql
SELECT
    facciones.nombre "Facción", cuentas_bancarias.banco "Banco"
FROM
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN cuentas_bancarias ON cuentas_bancarias.id_persona = personas.id
    INNER JOIN
        (SELECT
            facciones.nombre facciones_nombre, cuentas_bancarias.banco banco, ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(DISTINCT cuentas_bancarias.id_persona) DESC) fila_numero
        FROM
            personas
            INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
            INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
            INNER JOIN cuentas_bancarias ON cuentas_bancarias.id_persona = personas.id
        GROUP BY
            facciones.nombre, cuentas_bancarias.banco)
    consulta_anidada ON consulta_anidada.facciones_nombre = facciones.nombre AND  consulta_anidada.banco = cuentas_bancarias.banco
WHERE
    consulta_anidada.fila_numero = 1
GROUP BY
    facciones.nombre, cuentas_bancarias.banco;

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Se selecciona el identificador, nombre y segundo apellido de las personas desde la tabla personas, haciendo un INNER JOIN con la tabla persona_pertenece_faccion en donde el identificador de la persona coincida. Se agrupa por el identificador de las personas y se establece la condición de que el contador del identificador de personas sea mayor a 1 (debido a que, si es una persona traidora, el contador debe ser mayor a 1). Los resultados se ordenan ascendentemente según el identificador de las personas._

In [ ]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre", RIGHT(personas.apellidos, CHAR_LENGTH(personas.apellidos) - STRPOS(personas.apellidos, ' ')) "Apellido"  
FROM
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
GROUP BY
    personas.id
HAVING
    COUNT(personas.id) > 1
ORDER BY
    personas.id ASC;

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Se selecciona el nombre y los apellidos de las dos personas desde la tabla personas se hace un INNER JOIN a la misma tabla, entregando a la primera tabla el nombre conyugue1 y a la segunda el nombre conyugue2. Cabe destacar que el INNER JOIN tiene dos condiciones: en primer lugar, el identificador del cónyugue en la tabla conyugue1 debe ser igual al identificador de la persona en la tabla conyugue2; también, el identificador de la persona en la tabla conyugue1 debe ser menor a aquel en la tabla conyugue2 para evitar mostrar dos veces la pareja en distinto orden._

In [ ]:
%%sql
SELECT
    conyugue1.nombre "Nombre persona 1", conyugue1.apellidos "Apellidos persona 1", conyugue2.nombre "Nombre persona 2", conyugue2.apellidos "Apellidos persona 2"
FROM 
    personas conyugue1
    INNER JOIN personas conyugue2 ON conyugue1.conyugue = conyugue2.id AND conyugue1.id < conyugue2.id;