# Tarea 1 Bases de Datos 2023-1 Grupo 23

## Integrantes:
* Carolina Sire -Rol-202173105-9
* Eva Wang - Rol-202111004-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [6]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\eva29\appdata\roaming\python\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: sqlparse in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\eva29\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\eva29\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\eva29\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\eva29\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\eva29\appdata\roaming\python\python311\site-packages (2.9.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: names in c:\users\eva29\appdata\roaming\python\python311\site-packages (0.3.0)

## Importar dependencias

In [7]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [8]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:1972@localhost:5432/tarea1

env: DATABASE_URL=postgresql://postgres:1972@localhost:5432/tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [9]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1',
   password="1972"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000167171D3010; dsn: 'user=postgres password=xxx dbname=tarea1 host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [29]:
%%sql
CREATE TABLE facciones (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    descripcion VARCHAR (45) NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "trabajos" (6 pts)

In [30]:
%%sql
CREATE TABLE trabajos (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "personas" (6 pts)

In [31]:
%%sql
CREATE TABLE personas (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [32]:
%%sql
CREATE TABLE cuentas_bancarias (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INTEGER NOT NULL,
    id_persona INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [33]:
%%sql
CREATE TABLE persona_pertenece_faccion (
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY (id_persona, id_faccion),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [34]:
%%sql
CREATE TABLE persona_tiene_trabajo (
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona, id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [5]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 30
n_cuentas_bancarias = 25
n_persona_pertenece_faccion = 27
n_persona_tiene_trabajo = 27
n_casados = 10

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [11]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre" , personas.apellidos "Apellido"
FROM personas
    INNER JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
WHERE facciones.nombre = 'FEDRA';

 * postgresql://postgres:***@localhost:5432/tarea1
6 rows affected.

[(23, 'Horace', 'Lorenzen Varin'),
 (16, 'Jerry', 'Cruz Quach'),
 (9, 'Carolyn', 'Scharfenberg Conley'),
 (13, 'Sarah', 'Diaz Elem'),
 (4, 'Kim', 'Conard Corrigan'),
 (8, 'Tyler', 'Green Galyen')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [8]:
%%sql
SELECT
    COUNT(id) "Cantidad"
FROM
    personas
WHERE
    personas.fecha_nacimiento BETWEEN '2019-12-01' AND CURRENT_DATE;

 * postgresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[(1,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [9]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre", personas.apellidos "Apellido", cuentas_bancarias.saldo "Dinero"
FROM 
    personas
    INNER JOIN cuentas_bancarias
ON
    personas.id = cuentas_bancarias.id_persona
LIMIT
    20;
#Algunas personas tienen varias cuentas bancarias, por lo que habria que sumar sus saldos?

 * postgresql://postgres:***@localhost:5432/tarea1
20 rows affected.

[(4, 'Kim', 'Conard Corrigan', 5446),
 (9, 'Carolyn', 'Scharfenberg Conley', 8531),
 (11, 'Ronald', 'Jaramillo Bowling', 683),
 (12, 'Kayce', 'Sellers Snider', 4008),
 (16, 'Jerry', 'Cruz Quach', 3149),
 (19, 'Mildred', 'Mccall Dillard', 2417),
 (20, 'Kimberly', 'Williams Sain', 4385),
 (20, 'Kimberly', 'Williams Sain', 6170),
 (24, 'Ronald', 'Norton Adam', 5198),
 (25, 'Ida', 'Velazquez Mathias', 4900),
 (27, 'Amy', 'Thompson Robin', 8326),
 (28, 'Karen', 'Butler Williams', 5495),
 (28, 'Karen', 'Butler Williams', 4603),
 (29, 'Rosalyn', 'Li Calvo', 9418),
 (29, 'Rosalyn', 'Li Calvo', 5348),
 (29, 'Rosalyn', 'Li Calvo', 5912),
 (30, 'Lillian', 'Selleck Hutton', 7304),
 (30, 'Lillian', 'Selleck Hutton', 2681),
 (30, 'Lillian', 'Selleck Hutton', 5464),
 (18, 'Odis', 'Garlington Tavares', 6368)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [11]:
%%sql
SELECT
    facciones.nombre "Facción", COUNT(persona_pertenece_faccion.id_persona) "Cantidad de trabajadores"
FROM 
    facciones, persona_pertenece_faccion
GROUP BY
    facciones.nombre;
#Esta mal porque solo hay 30 personas
#Ademas hay que verificar que están activos

 * postgresql://postgres:***@localhost:5432/tarea1
6 rows affected.

[('JavaScriptia', 25),
 ('Luciérnagas', 25),
 ('Pythonia', 25),
 ('MaCdonia', 25),
 ('FEDRA', 25),
 ('Carroñeros', 25)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [12]:
%%sql
SELECT
    facciones.nombre "Facción", COUNT(personas.infectado) "Personas infectadas"
FROM 
    persona_pertenece_faccion
    INNER JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id
    INNER JOIN personas ON persona_pertenece_faccion.id_persona = personas.id
WHERE
    infectado = TRUE
GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1
5 rows affected.

[('Carroñeros', 2),
 ('FEDRA', 2),
 ('Luciérnagas', 3),
 ('MaCdonia', 2),
 ('Pythonia', 4)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
SELECT
    facciones.nombre "Facción", MAX(trabajos.nombre) "Trabajo" 
FROM
    personas
    INNER JOIN persona_tiene_trabajo ON personas.id= persona_tiene_trabajo.id_persona
    INNER JOIN trabajos ON trabajos.id= persona_tiene_trabajo.id_trabajo
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1
6 rows affected.

[('Carroñeros', 'Limpiador de cloacas'),
 ('FEDRA', 'Militar'),
 ('JavaScriptia', 'Militar'),
 ('Luciérnagas', 'Limpiador de cloacas'),
 ('MaCdonia', 'Limpiador de cloacas'),
 ('Pythonia', 'Profesor')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT
    facciones.nombre "Facción", SUM(cuentas_bancarias.saldo) "Saldo"
FROM 
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1
6 rows affected.

[('Carroñeros', 15734),
 ('FEDRA', 17126),
 ('JavaScriptia', 9047),
 ('Luciérnagas', 30253),
 ('MaCdonia', 26477),
 ('Pythonia', 44242)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [15]:
%%sql
SELECT
    cuentas_bancarias.banco "Banco", COUNT(cuentas_bancarias.id) "Cantidad", SUM(cuentas_bancarias.saldo) "Saldo"
FROM 
    cuentas_bancarias
GROUP BY
    cuentas_bancarias.banco;

 * postgresql://postgres:***@localhost:5432/tarea1
10 rows affected.

[('Banco Consorcio S.A', 3, 20178),
 ('Banco de la Nación S.A', 3, 17391),
 ('Banco Santander SpA', 2, 5566),
 ('Banco Pythonia S.A', 3, 13652),
 ('Banco BCI SpA', 3, 19843),
 ('Banco Estado SpA', 4, 26157),
 ('Banco BBVA', 1, 5495),
 ('FedraBank S.A', 2, 14925),
 ('Banco Pedrito Pascal SpA', 2, 5068),
 ('Banco Scotiabank', 2, 11503)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [16]:
%%sql
SELECT
    facciones.nombre "Facción", MAX(cuentas_bancarias.banco) "Banco" 
FROM
    personas
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN cuentas_bancarias ON cuentas_bancarias.id_persona = personas.id
GROUP BY
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1
6 rows affected.

[('Carroñeros', 'Banco Pythonia S.A'),
 ('FEDRA', 'Banco Scotiabank'),
 ('JavaScriptia', 'Banco Scotiabank'),
 ('Luciérnagas', 'Banco Pythonia S.A'),
 ('MaCdonia', 'Banco Santander SpA'),
 ('Pythonia', 'FedraBank S.A')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [17]:
%%sql
SELECT
    personas.id "ID", personas.nombre "Nombre", personas.apellidos "Apellido"  
FROM personas
    INNER JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
GROUP BY personas.id
HAVING
    COUNT(personas.id) > 1;

 * postgresql://postgres:***@localhost:5432/tarea1
3 rows affected.

[(4, 'Kim', 'Conard Corrigan'),
 (18, 'Odis', 'Garlington Tavares'),
 (27, 'Amy', 'Thompson Robin')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [18]:
%%sql
SELECT
    conyugue1.nombre "Nombre persona 1", conyugue1.apellidos "Apellidos persona 1", conyugue2.nombre "Nombre persona 2", conyugue2.apellidos "Apellidos persona 2"
FROM personas conyugue1
JOIN personas conyugue2
ON conyugue1.conyugue = conyugue2.id
AND conyugue1.id > conyugue2.id;

 * postgresql://postgres:***@localhost:5432/tarea1
5 rows affected.

[('Odis', 'Garlington Tavares', 'Carol', 'Degroat Harris'),
 ('Gladys', 'Gonzalez Shadle', 'Connie', 'Sassaman Yeend'),
 ('Keisha', 'Siler May', 'Robert', 'Claar Moore'),
 ('Earl', 'Gonzalez Saurel', 'Helen', 'Torrez Rhodus'),
 ('Bernard', 'Roy Cruz', 'Sheryl', 'Evans Cook')]